<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tfoot><tr><td colspan="7"><%= link_to 'New Post', new_post_path %></td></tr></tfoot>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><% if post.published  %>
                <span class="glyphicon glyphicon-ok"></span>
                <% end %>
        </td>
          <td><%= cl_image_tag(post.photo.public_id, crop: :fill, size: "35x35") if post.photo %></td>
        <td>
            <div class="btn-group" role="group">
                <%= link_to 'Show', post, class: "btn btn-default" %>
                <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"  %>
            </div>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>


