<%= form_for note, html: { multipart: true } do |f| %>

  <%= hidden_field_tag 'kind', params[:kind] %>

  <%= f.label 'Body' %>
  <br />

  <%= f.text_field :body %>
  <div><%= note.errors[:body].first %></div>
  <br />

  <div class="photo">
    <%= f.attachinary_file_field :photo %>
    <div><%= note.errors[:photo].first %></div>
  </div>

  <br />

  <div class="images">
    <%= f.attachinary_file_field :images %>
    <div><%= note.errors[:image].first %></div>
  </div>

  <br />
  <br />

  <%= f.submit  %>
<% end %>
