<%= simple_form_for note, html: { novalidate: true } do |f| %>

  <%= hidden_field_tag 'kind', params[:kind] %>

  <%= f.input :body, as: :string %>

  <div class="photo">
    <%= f.input :photo, as: :attachinary %>
  </div>

  <div class="images">
    <%= f.input :images, as: :attachinary %>
  </div>

  <%= f.submit %>

<% end %>
