<%= form_for note do |f| %>

  <%= hidden_field_tag 'kind', params[:kind] %>

  <%= f.label 'Body' %>
  <br />

  <%= f.text_field :body %>
  <div><%= note.errors[:body].first %></div>
  <br />

  <div class="photo">
    <%= attachinary_file_field_tag 'note[photo_id]', note.photo_id, attachinary: note.photo_options %>
    <div><%= note.errors[:photo_id].first %></div>
  </div>

  <br />

  <div class="images">
    <%= attachinary_file_field_tag 'note[image_ids]', note.image_ids, attachinary: note.image_options %>
    <div><%= note.errors[:image_ids].first %></div>
  </div>

  <br />
  <br />

  <%= f.submit  %>
<% end %>
