<h1>Notes</h1>

<div style="overflow:auto">
  <%= render @notes %>
</div>

<br />
<br />
<%= link_to 'create (raw)', new_note_path(kind: 'raw') %><br />
<%= link_to 'create (builder)', new_note_path(kind: 'builder') %><br />
<%= link_to 'create (simple form)', new_note_path(kind: 'simple_form') %><br />
<%= link_to 'create (no javascript)', new_note_path(kind: 'nojs') %><br />
